<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="wordcount.css">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!--구글폰트-->
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Lato|Jua|Gugi" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <style>
            body{padding-top:70px;}
        
    </style>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand">GooPago</a>
                        </div>
                    
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                            <li><a href="{%url 'home'%}">Home<span class="sr-only">(current)</span></a></li>
                            <li class="active"><a href="{%url 'about'%}">About</a></li>
        
                            </ul>
                        </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
            </nav>
    <h1 style="text-align: center" id="intro">파파고와 구글의 합작, 구파고를 소개합니다!<br></h1>
    <div style="text-align: center">
    <img src="Google_Translate_Icon.png" width="15%">
    <img src="파파고.jpg" width="20%">    
    </div>
    <!-- 소개 -->
    <p id="explain">세계적으로 유명한 구글의 '구글 번역기'와 대한민국 최고의 번역기 '파파고'가 결실을 맺었습니다!<br>
    그것은 바로, 구파고 입니다!!<br>
    보다 정확하고 자연스러운 번역을 위해 한 발 내딛었습니다!<br>
    많은 이용 바랍니다!</p>

    <br><br><br>
    <p  style="text-align: center">
    <img src="goopago.png" width="30%">
    </p>    


    
</body>
</html>